.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background: center/cover;
}

.game__header {
  text-align: center;
}

.game__field {
  height: 90%;
  width: 100%;
  background-color: black;
}

.gmae_Btn {
  margin: 5px;
  height: 40px;
  width: 40px;
}

.game__timer {
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
  padding-left: 3px;
  padding-right: 30px;
  margin: 50px;
  height: 50px;
}

.game__score {
  border: 2px solid black;
  background-color: lightgoldenrodyellow;
  border-radius: 30px;
  height: 35px;
  width: 40px;
  font-size: 25px;
  padding-top: 5px;
}

.pop-up {
  position: absolute;
  height: 80px;
  width: 250px;
  transform: translate(200px, -200px);
  text-align: center;
  background-color: darkgray;
  padding: 40px;
  padding-top: 15px;
  opacity: 80%;
  border-radius: 16%;
}

.pop-up__refresh {
  height: 45px;
  width: 45px;
  border-color: black;
  border-radius: 15%;
  border-width: 1px;
  background-color: antiquewhite;
}
.pop-up__message {
  font-size: 30px;
}
