*{
    box-sizing: border-box;
}
body{
    background-color: azure;
    text-align: center;
}

.List{
    width: 400px;
    
    
    
}

.header{
    
    height: 38px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 8px 8px 0px 0px;
    

}

.items{
    height: 500px;
    overflow-y: auto;
    background-color:floralwhite;
}
.item{
    
    display: flex;
    justify-content: space-between;
    
}

.Item__name{
    
    
    
    

}
.delete__Btn{
    height: 25px;


}


.item__divider{
    
    background-color: black;
    font-weight: 90%;
    height: 1px;
    margin: auto;
}

.footer{
    height: 50px;
    border-radius: 8,20px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 0px 0px 8px 8px;
}






