body{
    

}
.List{
    position: relative;
    left: 50%;
}
.List_header{
    font-size: 50px;
    position: relative;
    left: 50%;
    transform: translate(-5%);
    color: darkorange;
}

.addList{
    position: relative;
    
    left: 50%;
}

