body {
  background-color: black;
}

.carrot {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 80px;
}

.rabbit {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 80px;
}

.rabbits_button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: tomato;
  outline: none;
  cursor: pointer;
  margin: 16px 0;
}
